<h1>Most recent waypoints</h1>

<div id="map"></div>

<script>
  function initMap() {
    $.ajax(
      {
        url: "/api/v1/waypoints",
        success: (data) => {
          var centerLocation = { lat: -34.921308, lng: -57.954499 }
          var map = new google.maps.Map(
            document.getElementById('map'),
            { zoom: 4, center: centerLocation }
          );
          data.forEach(element => {
            var marker = new google.maps.Marker({ position: element.position, map: map });
            const infowindow = new google.maps.InfoWindow({
              content: `<p><b>Vehicle identifier:</b> ${element.vehicle_identifier}</p><p><b>Sent at:</b> ${element.sent_at}</p>`
            });
            google.maps.event.addListener(marker, "click", () => {
              infowindow.open(map, marker);
            });
          });
        }
      }
    );
  }
</script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps[:api_key] %>&callback=initMap">
</script>
